<!-- app/views/recipes/_cooking_ingredient_fields.html.erb -->

<div class="ingredient_container nested-fields">
  <div class="ingredint_area">
    <%= f.text_field :ingredient_name, class: "ingredint_form" %>
  </div>
  <div class="quntity_area">
    <%= f.number_field :quantity, class: "quntity_form" %>
  </div>
  <div class="unit_area">
    <%= f.text_field :unit, class: "unit_form" %>
  </div>
  <button class="trash3" type="button">
    <i class="bi bi-trash3"></i>
  </button>

</div>

<%= javascript_pack_tag 'recipe_field.js'%>