<!-- app/views/rooms/index.html.erb -->
<h1>Rooms List</h1>
<% if @room %>
    <%= link_to "ルームに入る", rooms_path(@room), class: "btn btn-primary" %>
  <% end %>
  
<% if @user_rooms.present? %>
  <h3>Your Rooms:</h3>
  <% @user_rooms.each do |room| %>
    <div class="room-card">
      <h4><%= room.name %></h4>
      <!-- その他のルームの詳細をここに表示する -->
    </div>
  <% end %>
<% end %>

