<!-- app/views/rooms/new.html.erb -->

<div class="footer_fixed">
<div class="room_new wrapper">
<%= form_with(model: @room, local: true) do |f| %>
  <div class="room_name">
   
    <%= f.text_field :name, class: "text_field" %>
  </div>

  <div class="move-btn">

  <%= f.submit "Create Room", class: "btn", placeholder:'name'  %>
<% end %>
  </div>
</div>

</div>