.recipe-container {
  display: grid;
  gap: 26px;
  margin-top: 6%;
  margin-bottom: 50px;

  // レスポンシブデザイン
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(240px, 1fr));
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, minmax(240px, 1fr));
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, minmax(240px, 1fr));
  }
}

.recipe-card {
  background-color: #ffffff;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: 1px solid #e9eaea;
  border-radius: 3px;
  box-shadow: 3px 2px 7px 0px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: translateY(-5px);
    opacity: 0.75;
  }
}

.recipe-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-title {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 10px;
  color: #101010;
}

.recipe-comment {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #5A5454;
}

.recipe-link-container {
  

  .recipe-link {
    text-decoration: none;
    width: 50px;
    height: 50px;
   

    .bi {
      margin-right: 5px;
      font-size: 50px;
      color: rgb(54, 53, 53);
      margin-left: 200%;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}




// 検索
.search {
  margin-right: 40px;
}
.search-container {
  display: flex;
  justify-content: flex-end;
}

.input-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.input-group {
  .dorop {
    color: #464e57bd;
  }
}
