.simple-calendar {
  background-color: #fffefe;
  color: #007bff;

  table {
    border: none;
    th {
      color: #626161;
      font-weight: 200;
    }
  }
  .prev-month {
    background-color: #ffffff;
  }
  .next-month {
    background-color: #ffffff;
  }
  .future {
    background-color: #ffffff;
  }
  th {
    border-left: none;
    border-right: none;
    color: #626161;
  }

  .today {
    background: #eaeaea;
  }

  .table {
    border-collapse: collapse;
  }

  .calendar-heading {
    background-color: #ffffff;
    color: rgb(255, 255, 255);

    nav a {
      color: #a9abac;
      text-decoration: none;
      margin: 0 5px;
    }
  }

  td {
    background-color: rgb(210, 210, 210);

    padding: 5px;
    border: none;
    border-bottom: 0.3px solid #e2e2e2;

    a {
      color: #626161;
      text-decoration: none;
    }

    .event {
      background-color: #007bff;
      color: white;
      padding: 2px 5px;
      border-radius: 3px;
    }
  }
}
