<!-- app/views/categories/_subcategory_fields.html.erb -->
<div class="form-group">
  <%= f.label :name, "サブカテゴリー名" %>
  <%= f.text_field :name, class: "form-control" %>
  <%= link_to_remove_association '削除', f, class: 'btn btn-danger' %>
</div>
